# Class in OOP

In [1]:
a = 34
print(type(a))

<class 'int'>

In [2]:
b = 23
print(type(b))

<class 'int'>

In [3]:
c = 34.5
print(type(c))

<class 'float'>

In [4]:
d = "Etlhive"
print(type(d))

<class 'str'>

In [5]:
e = False
print(type(e))

<class 'bool'>

In [6]:
f = [1,2,3]
print(type(f))

<class 'list'>

In [7]:
g = (4,5,6)
print(type(g))

<class 'tuple'>

In [8]:
h = {
    "a": 1,
    "b": 2,
    "c": 3
}
print(type(h))

<class 'dict'>

In [9]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [10]:
emp = {
    "id":[1, 2, 3],
    "name":["Sarthak", "Raman", "Rahul"],
    "salary":[35000, 20000, 15000]
}
type(emp)

dict

In [ ]:
emp_df = pd.DataFrame(emp)
emp_df

NameError: name 'pd' is not defined

In [12]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

### Attributes 
1. Shape
2. Columns
3. Index
4. dtypes
5. Values

In [13]:
emp_df.shape

(3, 3)

In [14]:
emp_df.columns

Index(['id', 'name', 'salary'], dtype='object')

In [15]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
emp_df.dtypes

id         int64
name      object
salary     int64
dtype: object

In [17]:
emp_df.values

array([[1, 'Sarthak', 35000],
       [2, 'Raman', 20000],
       [3, 'Rahul', 15000]], dtype=object)

### Functions

In [18]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [19]:
emp_df.sort_values(by="salary", ascending=False)

   id     name  salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000

### Creating a user defined class

## self is any object of class person

In [10]:
class Person :

    # Create a constructor function to define attributes
    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occuoation = occupation

    # Create a method for class
    def introduce(self):
        print(f"Hi my name is : {self.name}")
        print(f"My age is : {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as  {self.occuoation}")

In [11]:
p1 = Person(name="Sarthak", age=25, gender="male", occupation="HR")
print(type(p1))

<class '__main__.Person'>

In [12]:
p1

In [13]:
p1.name

'Sarthak'

In [14]:
p1.age

25

In [15]:
p1.gender

'male'

In [16]:
p1.occuoation

'HR'

In [17]:
p1.introduce()

Hi my name is : Sarthak
My age is : 25
I am male
I work as  HR

In [28]:
p2 = Person(name="Aditi", age=23, gender="Female", occupation="Engineer")
print(type(p2))

<class '__main__.Person'>

In [29]:
p2.name

'Aditi'

In [30]:
p2.age

23

In [31]:
p2.gender

'Female'

In [32]:
p2.occuoation

'Engineer'

In [33]:
p2.introduce()

Hi my name is : Aditi
My age is : 23
I am Female
I work as  Engineer

In [34]:
p3 = Person(12,"Raman", "HR", "Male")
print(type(p3))

<class '__main__.Person'>

In [35]:
p3.name

12

In [36]:
p3.age

'Raman'

In [37]:
p3.gender

'HR'

In [38]:
p3.occuoation

'Male'

In [39]:
p3.introduce()

Hi my name is : 12
My age is : Raman
I am HR
I work as  Male

### Dataclasses

In [40]:
a = 23
assert type(a) == int, "Input shoud br intrger"

In [41]:
from dataclasses import dataclass

In [42]:
from typing import Literal

In [43]:
@dataclass
class Person2:
    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if not isinstance(self.name, str):
            errors.append("Name should be a string")
        if not isinstance(self.age, int) or self.age <= 0:
            errors.append("age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("gender can be either male or female")
        if not isinstance(self.occupation, str):
            errors.append("occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))
    
    def talk(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [44]:
p5 = Person2(name="Raman", age=23, gender="male", occupation="Financial Analyst")

In [45]:
p5.name

'Raman'

In [46]:
p5.age

23

In [47]:
p5.gender

'male'

In [48]:
p5.occupation

'Financial Analyst'

In [49]:
p5.talk()

My name is Raman
My age is 23
I am male
I work as a Financial Analyst

In [50]:
p6 = Person2(name=23,age=-3,gender="male", occupation="HR")

ValueError: Name should be a string
age should be a positive integer

In [ ]:
p6 = Person2(name="Rahul", age=29, gender="HR", occupation="male")

ValueError: gender can be either male or female

In [53]:
p6 = Person2(name="Rahul", age=29, gender="male", occupation="HR")

In [54]:
p6

Person2(name='Rahul', age=29, gender='male', occupation='HR')

In [55]:
p6.talk()

My name is Rahul
My age is 29
I am male
I work as a HR

![alt text](download.png)

In [80]:
import math

In [81]:
class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    # Create a method 
    def is_valid_triangle(self):
        # A triangle is valid if the sum of any two sides is greater than the third side
        if (self.a + self.b > self.c) and (self.a + self.c > self.b) and (self.b + self.c > self.a):
            return True
        return False

In [97]:
# Method to calculate the perimeter
def perimeter(self):
    if self.is_valid_triangle():
            return self.a + self.b + self.c
    else:
            return "Invalid triangle"

In [90]:
 # Method to calculate the area of the triangle using Heron's formula

 def area(self):
        if self.is_valid_triangle():
            # Calculate the semi-perimeter
            s = self.perimeter() / 2
            # Heron's formula
            area = math.sqrt(s * (s - self.side1) * (s - self.side2) * (s - self.side3))
            return area
        else:
            return "Invalid triangle"

In [94]:
triangle = Triangle(3,4,5)

In [99]:
if triangle.is_valid_triangle():
    print(f"Perimeter: {triangle.perimeter()}")
    print(f"Area: {triangle.area()}")
else:
    print("The sides do not form a valid triangle")

AttributeError: 'Triangle' object has no attribute 'perimeter'