# Functions

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

# Built in functions

In [2]:
print("Hello World!")

Hello World!

In [3]:
print(3*4)

12

In [4]:
a = [1,2,3,4,5]
len(a)

5

In [5]:
sum(a)

15

In [6]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### User defined Function

In [7]:
def add (a: int|float, b: int|float) -> int|float:
    """
    This function adds two numbers
    """
    c = a + b
    return c

In [8]:
a1 =add(3,4)
a1

7

In [9]:
type(a1)

int

In [10]:
a2 = add(3.5,2)
a2

5.5

In [11]:
type(a2)

float

In [12]:
# arguments inside the function
add(a=12,b=15)

27

In [13]:
add(3,4,5)

TypeError: add() takes 2 positional arguments but 3 were given

### Varidac functions
1. func(*args)
2. *args act like a tuple here in python

In [ ]:
def func(*args):
    print(args, type(args))
    for i in args:
        print(i)
    return args

In [ ]:
b1 = func(2,3)

(2, 3) <class 'tuple'>
2
3

In [ ]:
b1

(2, 3)

In [ ]:
b2 = func(4,5,"Example", True, 5.4, 10.5, False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4
5
Example
True
5.4
10.5
False

In [ ]:
b3 = func("Sarthak", "Raman", "Rahul")

('Sarthak', 'Raman', 'Rahul') <class 'tuple'>
Sarthak
Raman
Rahul

### Write a function to add any amount of numbers

In [ ]:
def add_multiple(*args):
    #intialize sum to 0
    s = 0

    #Apply for loop
    for i in args:
        s = s + i
        

   #retuen the value of s
    return s

In [ ]:
add_multiple(3,5)

8

In [ ]:
add_multiple(3,4,5,6)

18

In [ ]:
3+4+5+6

18

In [ ]:
range(1,101)

range(1, 101)

In [ ]:
c = list(range (1,101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# unpack and provide list/ tuple as input
add_multiple(*c)

5050

## Billing Example

In [ ]:
cart1 =[
    ("Laptop", 54000, 2),
    ("Headphone", 1500, 4),
    ("Mouse", 500, 2),
    ("Keyboard", 1200, 1),
    ("Mouse pad", 300, 2)
]

In [14]:
def billing(cart_id:int, *args) -> int|float:
    # Intilize the total to 0
    total = 0

    # Print the cart id
    print(f"Cart ID : {cart_id}")
    # upply for loop on args
    for product, price, qty in args:
        item_total = price * qty
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, qty :{qty} Nos")
        print(f"Item Total:{item_total:.2f} INR")
        print("\n==========================================")


# show the total
    print(f"Final Total: {total:.2f}INR")
    return total

In [16]:
cart1

NameError: name 'cart1' is not defined

In [17]:
c1 = billing(101, *cart1)

NameError: name 'cart1' is not defined

In [18]:
c1

NameError: name 'c1' is not defined

In [19]:
c2 = billing(
    102,
    ("GPU", 50000, 1),
    ("RAM", 5000, 2)
)

Cart ID : 102
Product : GPU, Price : 50000 INR, qty :1 Nos
Item Total:50000.00 INR

==========================================
Product : RAM, Price : 5000 INR, qty :2 Nos
Item Total:10000.00 INR

==========================================
Final Total: 60000.00INR

In [20]:
c2

60000

In [21]:
help(billing)

Help on function billing in module __main__:

billing(cart_id: int, *args) -> int | float

### keyword Arguments in python 
**kwargs - This will act like a dictionary in python

In [22]:
d = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4
}

In [23]:
type(d)

dict

In [24]:
d["a"]

1

In [25]:
d["b"]

2

In [26]:
d.get("d")

4

In [27]:
print(d.get("e"))

None

In [28]:
d.get("e","N/A")

'N/A'

In [29]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [30]:
for key, value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4

In [31]:
def func2(**kwargs):
    print(kwargs, type(kwargs))
    for key, values, in kwargs.items():
        print(f"{key}:{value}")
    return kwargs

In [32]:
func2(name= "Sarthak", age= 23)

{'name': 'Sarthak', 'age': 23} <class 'dict'>
name:4
age:4

{'name': 'Sarthak', 'age': 23}

In [33]:
d2= func2(name="Aditi", age =25, email= "aditi@gmail.com", location="Pune")

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'} <class 'dict'>
name:4
age:4
email:4
location:4

In [34]:
d2

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'}

### Practicle example of Kwargs

In [ ]:
def create_user(**kwargs):
    if "username" not in kwargs:
        raise ValueError("username should be available while creating a user")

    profile = {
        "username": kwargs["username"],
        "Full Name": kwargs.get("full_name", "N\A"),
        "Email": kwargs.get("email", "N\A"),
        "City": kwargs.get("city", "N\A"),
        "blood Group": kwargs.get("blood_group", "N\A")
    }
    return profile

In [ ]:
u1=create_user(
    username="sarthaks3",
    full_name="Sarthak More",
    city= "Nashik"
)

In [ ]:
u1

{'username': 'sarthaks3',
 'Full Name': 'Sarthak More',
 'Email': 'N\\A',
 'City': 'Nashik',
 'blood Group': 'N\\A'}

In [ ]:
u2 = create_user(
        username ="ramanv4",
        full_name = "Raman Verma",
        email ="raman@gmail.com",
        blood_group = "A+ve"
)

In [ ]:
u2

{'username': 'ramanv4',
 'Full Name': 'Raman Verma',
 'Email': 'raman@gmail.com',
 'City': 'N\\A',
 'blood Group': 'A+ve'}

In [1]:
# comments

In [ ]:
u3 = create_user(
    full_name = "Rahul Sharma",
    city = "Pune"
)

ValueError: username should be available while creating a user

In [ ]:
u4 = create_user(
    username = "rahuls1",
    full_name=" Rahul Sharma",
    email = " rahuls@gmail.com",
    city= "Pune",
    blood_group = "B+ve"
)

In [ ]:
u4

{'username': 'rahuls1',
 'Full Name': ' Rahul Sharma',
 'Email': ' rahuls@gmail.com',
 'City': 'Pune',
 'blood Group': 'B+ve'}