# Webscraping - Data Collection 
You can get any data directly from internet

In [1]:
%pip install requests beautifulsoup4 lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (4.13.3)
Requirement already satisfied: lxml in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2025.1.31)
Requirement already satisfied: soupsieve>1.2 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from beautifulsoup4) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

### Get the head title for any web page

In [3]:
url1 = "https://en.wikipedia.org/wiki/World_population"
print(url1)

https://en.wikipedia.org/wiki/World_population

In [4]:
import requests

response = requests.get(url1)

response

### 200 - ok all the data is collected

In [5]:
data = response.content

print(data[0:1000])

b'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1 vector-feature-night-mode-enabled skin-theme-clientpref-day vector-sticky-header-enabled vector-toc-available" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8">\n<title>World population - Wikipedia</title>\n<script>(function(){var className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-fe'

### Get the title with beautiful soup package

In [6]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(data)

In [7]:
soup.find("title")

In [8]:
title_tag = soup.find("title")
title_tag

In [9]:
title_text = title_tag.text
title_text

'World population - Wikipedia'

### Find out h1 tag from body

In [10]:
h1_tag = soup.find("h1", class_ ="firstHeading")
h1_tag

In [11]:
h1_text = h1_tag.text
h1_text

'World population'

###  Get all the h2 tag

In [12]:
heading_divs = soup.find_all("div", class_ = "mw-heading")

heading_divs

[<div class="mw-heading mw-heading2"><h2 id="History">History</h2></div>,
 <div class="mw-heading mw-heading3"><h3 id="Ancient_and_post-classical_history">Ancient and post-classical history</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Modern_history">Modern history</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Milestones_by_the_billions">Milestones by the billions</h3></div>,
 <div class="mw-heading mw-heading2"><h2 id="Global_demographics">Global demographics</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="Population_by_region">Population by region</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="Largest_populations_by_country">Largest populations by country</h2></div>,
 <div class="mw-heading mw-heading3"><h3 id="Ten_most_populous_countries">Ten most populous countries</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Most_densely_populated_countries">Most densely populated countries</h3></div>,
 <div class="mw-heading mw-heading2"><h2 id="Fluctuation">Fluctuation</h2></div>,
 <div class="mw-heading mw-heading3"><h3 id="Annual_population_growth">Annual population growth</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Population_growth_by_region">Population growth by region</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Past_population">Past population</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="Projections">Projections</h3></div>,
 <div class="mw-heading mw-heading2"><h2 id="Mathematical_approximations">Mathematical approximations</h2></div>,
 <div class="mw-heading mw-heading3"><h3 id="Years_for_world_population_to_double">Years for world population to double</h3></div>,
 <div class="mw-heading mw-heading2"><h2 id="Number_of_humans_who_have_ever_lived">Number of humans who have ever lived</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="Human_population_as_a_function_of_food_availability">Human population as a function of food availability</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="See_also">See also</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="Explanatory_notes">Explanatory notes</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="References">References</h2></div>,
 <div class="mw-heading mw-heading3"><h3 id="Citations">Citations</h3></div>,
 <div class="mw-heading mw-heading3"><h3 id="General_and_cited_sources">General and cited sources</h3></div>,
 <div class="mw-heading mw-heading2"><h2 id="Further_reading">Further reading</h2></div>,
 <div class="mw-heading mw-heading2"><h2 id="External_links">External links</h2></div>]

In [13]:
heading_divs[0].find("h2").text

'History'

In [14]:
h2_tags = [
    tag.find("h2").text 
    for tag in heading_divs 
    if tag.find("h2") is not None
    ]

h2_tags

['History',
 'Global demographics',
 'Population by region',
 'Largest populations by country',
 'Fluctuation',
 'Mathematical approximations',
 'Number of humans who have ever lived',
 'Human population as a function of food availability',
 'See also',
 'Explanatory notes',
 'References',
 'Further reading',
 'External links']

In [15]:
h3_tags = [
    tag.find("h3").text
    for tag in heading_divs
    if tag.find("h3") is not None
]
h3_tags

['Ancient and post-classical history',
 'Modern history',
 'Milestones by the billions',
 'Ten most populous countries',
 'Most densely populated countries',
 'Annual population growth',
 'Population growth by region',
 'Past population',
 'Projections',
 'Years for world population to double',
 'Citations',
 'General and cited sources']

In [16]:
heading_text = [tag.text for tag in heading_divs]

heading_text

['History',
 'Ancient and post-classical history',
 'Modern history',
 'Milestones by the billions',
 'Global demographics',
 'Population by region',
 'Largest populations by country',
 'Ten most populous countries',
 'Most densely populated countries',
 'Fluctuation',
 'Annual population growth',
 'Population growth by region',
 'Past population',
 'Projections',
 'Mathematical approximations',
 'Years for world population to double',
 'Number of humans who have ever lived',
 'Human population as a function of food availability',
 'See also',
 'Explanatory notes',
 'References',
 'Citations',
 'General and cited sources',
 'Further reading',
 'External links']

### Find all the images urls in the webpage

In [17]:
a_tags = soup.find_all("a", class_="mw-file-description")

a_tags

[<a class="mw-file-description" href="/wiki/File:World_Population_Prospects.svg"><img class="mw-file-element" data-file-height="676" data-file-width="900" decoding="async" height="233" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/310px-World_Population_Prospects.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/465px-World_Population_Prospects.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/620px-World_Population_Prospects.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png"><img class="mw-file-element" data-file-height="7747" data-file-width="5201" decoding="async" height="387" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png/260px-Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png/390px-Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png/520px-Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png 2x" width="260"/></a>,
 <a class="mw-file-description" href="/wiki/File:2020_1million_cities.jpg"><img class="mw-file-element" data-file-height="2071" data-file-width="5126" decoding="async" height="125" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/dd/2020_1million_cities.jpg/310px-2020_1million_cities.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/dd/2020_1million_cities.jpg/465px-2020_1million_cities.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/dd/2020_1million_cities.jpg/620px-2020_1million_cities.jpg 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Expectancy_of_life.svg"><img class="mw-file-element" data-file-height="1200" data-file-width="2754" decoding="async" height="135" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Expectancy_of_life.svg/310px-Expectancy_of_life.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Expectancy_of_life.svg/465px-Expectancy_of_life.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Expectancy_of_life.svg/620px-Expectancy_of_life.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Population_pyramid_of_the_world_in_continental_groupings_2023.svg"><img class="mw-file-element" data-file-height="2003" data-file-width="2539" decoding="async" height="245" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Population_pyramid_of_the_world_in_continental_groupings_2023.svg/310px-Population_pyramid_of_the_world_in_continental_groupings_2023.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Population_pyramid_of_the_world_in_continental_groupings_2023.svg/465px-Population_pyramid_of_the_world_in_continental_groupings_2023.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Population_pyramid_of_the_world_in_continental_groupings_2023.svg/620px-Population_pyramid_of_the_world_in_continental_groupings_2023.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Global_population_cartogram.png"><img class="mw-file-element" data-file-height="3131" data-file-width="8192" decoding="async" height="118" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/90/Global_population_cartogram.png/310px-Global_population_cartogram.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/90/Global_population_cartogram.png/465px-Global_population_cartogram.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/90/Global_population_cartogram.png/620px-Global_population_cartogram.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:People%27s_-Km%C2%B2_for_all_countries_(and_us_states,_uk_kingdoms).png"><img class="mw-file-element" data-file-height="2866" data-file-width="5489" decoding="async" height="162" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png/310px-People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png/465px-People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png/620px-People%27s_-Km%C2%B2_for_all_countries_%28and_us_states%2C_uk_kingdoms%29.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Top_5_Country_Population_Graph_1901_to_2021.svg"><img class="mw-file-element" data-file-height="600" data-file-width="850" decoding="async" height="219" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Top_5_Country_Population_Graph_1901_to_2021.svg/310px-Top_5_Country_Population_Graph_1901_to_2021.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Top_5_Country_Population_Graph_1901_to_2021.svg/465px-Top_5_Country_Population_Graph_1901_to_2021.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Top_5_Country_Population_Graph_1901_to_2021.svg/620px-Top_5_Country_Population_Graph_1901_to_2021.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Population_Density,_v4.11,_2020_(48009093621).jpg"><img class="mw-file-element" data-file-height="2231" data-file-width="3053" decoding="async" height="227" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg/310px-Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg/465px-Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg/620px-Population_Density%2C_v4.11%2C_2020_%2848009093621%29.jpg 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:World_population_(UN).svg"><img class="mw-file-element" data-file-height="1020" data-file-width="1150" decoding="async" height="275" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_%28UN%29.svg/310px-World_population_%28UN%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_%28UN%29.svg/465px-World_population_%28UN%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_%28UN%29.svg/620px-World_population_%28UN%29.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Total_Fertility_Rate_Map_by_Country.svg"><img class="mw-file-element" data-file-height="566" data-file-width="1104" decoding="async" height="159" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Total_Fertility_Rate_Map_by_Country.svg/310px-Total_Fertility_Rate_Map_by_Country.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Total_Fertility_Rate_Map_by_Country.svg/465px-Total_Fertility_Rate_Map_by_Country.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Total_Fertility_Rate_Map_by_Country.svg/620px-Total_Fertility_Rate_Map_by_Country.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:World_population_counter,_Eureka,_Halifax,_West_Yorkshire_(27th_August_2022)_001.jpg"><img class="mw-file-element" data-file-height="3864" data-file-width="5152" decoding="async" height="233" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg/310px-World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg/465px-World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/22/World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg/620px-World_population_counter%2C_Eureka%2C_Halifax%2C_West_Yorkshire_%2827th_August_2022%29_001.jpg 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Population_curve.svg" title="Estimated world population figures, 10,000 BC – AD 2000"><img alt="Estimated world population figures, 10,000 BC – AD 2000" class="mw-file-element" data-file-height="332" data-file-width="547" decoding="async" height="73" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Population_curve.svg/120px-Population_curve.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Population_curve.svg/180px-Population_curve.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Population_curve.svg/240px-Population_curve.svg.png 2x" width="120"/></a>,
 <a class="mw-file-description" href="/wiki/File:World_population_growth_(lin-log_scale).png" title="Estimated world population figures, 10,000 BC – AD 2000 (in log y scale)"><img alt="Estimated world population figures, 10,000 BC – AD 2000 (in log y scale)" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="72" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f2/World_population_growth_%28lin-log_scale%29.png/120px-World_population_growth_%28lin-log_scale%29.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f2/World_population_growth_%28lin-log_scale%29.png/180px-World_population_growth_%28lin-log_scale%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f2/World_population_growth_%28lin-log_scale%29.png/240px-World_population_growth_%28lin-log_scale%29.png 2x" width="120"/></a>,
 <a class="mw-file-description" href="/wiki/File:World_population_history.svg" title="World population figures, 1950–2017"><img alt="World population figures, 1950–2017" class="mw-file-element" data-file-height="450" data-file-width="750" decoding="async" height="72" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_history.svg/120px-World_population_history.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_history.svg/180px-World_population_history.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/11/World_population_history.svg/240px-World_population_history.svg.png 2x" width="120"/></a>,
 <a class="mw-file-description" href="/wiki/File:Question_book-new.svg"><img alt="" class="mw-file-element" data-file-height="399" data-file-width="512" decoding="async" height="39" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x" width="50"/></a>,
 <a class="mw-file-description" href="/wiki/File:Population_by_broad_age_group_projected_to_2100,_OWID.svg"><img class="mw-file-element" data-file-height="600" data-file-width="850" decoding="async" height="219" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Population_by_broad_age_group_projected_to_2100%2C_OWID.svg/310px-Population_by_broad_age_group_projected_to_2100%2C_OWID.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Population_by_broad_age_group_projected_to_2100%2C_OWID.svg/465px-Population_by_broad_age_group_projected_to_2100%2C_OWID.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Population_by_broad_age_group_projected_to_2100%2C_OWID.svg/620px-Population_by_broad_age_group_projected_to_2100%2C_OWID.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:Population-doubling.svg"><img class="mw-file-element" data-file-height="295" data-file-width="400" decoding="async" height="229" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Population-doubling.svg/310px-Population-doubling.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Population-doubling.svg/465px-Population-doubling.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/18/Population-doubling.svg/620px-Population-doubling.svg.png 2x" width="310"/></a>,
 <a class="mw-file-description" href="/wiki/File:The_Earth_seen_from_Apollo_17.jpg"><img alt="" class="mw-file-element" data-file-height="3002" data-file-width="3000" decoding="async" height="28" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/28px-The_Earth_seen_from_Apollo_17.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/42px-The_Earth_seen_from_Apollo_17.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/56px-The_Earth_seen_from_Apollo_17.jpg 2x" width="28"/></a>,
 <a class="mw-file-description" href="/wiki/File:Commons-logo.svg"><img alt="" class="mw-file-element" data-file-height="1376" data-file-width="1024" decoding="async" height="40" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/45px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/59px-Commons-logo.svg.png 2x" width="30"/></a>,
 <a class="mw-file-description" href="/wiki/File:Emblem-money.svg"><img alt="icon" class="mw-file-element" data-file-height="48" data-file-width="48" decoding="async" height="28" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Emblem-money.svg/28px-Emblem-money.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Emblem-money.svg/42px-Emblem-money.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Emblem-money.svg/56px-Emblem-money.svg.png 2x" width="28"/></a>]

In [18]:
a_tags[0]

<a class="mw-file-description" href="/wiki/File:World_Population_Prospects.svg"><img class="mw-file-element" data-file-height="676" data-file-width="900" decoding="async" height="233" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/310px-World_Population_Prospects.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/465px-World_Population_Prospects.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0e/World_Population_Prospects.svg/620px-World_Population_Prospects.svg.png 2x" width="310"/></a>

In [19]:
a_tags[0].get("href")

'/wiki/File:World_Population_Prospects.svg'

In [20]:
home = "https://en.wikipedia.org"

home + a_tags[0].get("href")

'https://en.wikipedia.org/wiki/File:World_Population_Prospects.svg'

In [21]:
home

'https://en.wikipedia.org'

In [22]:
img_urls = [home + tag.get("href") for tag in a_tags]

img_urls

['https://en.wikipedia.org/wiki/File:World_Population_Prospects.svg',
 'https://en.wikipedia.org/wiki/File:Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png',
 'https://en.wikipedia.org/wiki/File:2020_1million_cities.jpg',
 'https://en.wikipedia.org/wiki/File:Expectancy_of_life.svg',
 'https://en.wikipedia.org/wiki/File:Population_pyramid_of_the_world_in_continental_groupings_2023.svg',
 'https://en.wikipedia.org/wiki/File:Global_population_cartogram.png',
 'https://en.wikipedia.org/wiki/File:People%27s_-Km%C2%B2_for_all_countries_(and_us_states,_uk_kingdoms).png',
 'https://en.wikipedia.org/wiki/File:Top_5_Country_Population_Graph_1901_to_2021.svg',
 'https://en.wikipedia.org/wiki/File:Population_Density,_v4.11,_2020_(48009093621).jpg',
 'https://en.wikipedia.org/wiki/File:World_population_(UN).svg',
 'https://en.wikipedia.org/wiki/File:Total_Fertility_Rate_Map_by_Country.svg',
 'https://en.wikipedia.org/wiki/File:World_population_counter,_Eureka,_Halifax,_West_Yorkshire_(27th_August_2022)_001.jpg',
 'https://en.wikipedia.org/wiki/File:Population_curve.svg',
 'https://en.wikipedia.org/wiki/File:World_population_growth_(lin-log_scale).png',
 'https://en.wikipedia.org/wiki/File:World_population_history.svg',
 'https://en.wikipedia.org/wiki/File:Question_book-new.svg',
 'https://en.wikipedia.org/wiki/File:Population_by_broad_age_group_projected_to_2100,_OWID.svg',
 'https://en.wikipedia.org/wiki/File:Population-doubling.svg',
 'https://en.wikipedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg',
 'https://en.wikipedia.org/wiki/File:Commons-logo.svg',
 'https://en.wikipedia.org/wiki/File:Emblem-money.svg']

### Find all the table and shoe as database

In [23]:
table_tags = soup.find_all("table", class_="wikitable")

table_tags

[<table class="wikitable" style="text-align:center; float:right; clear:right; margin-left:8px; margin-right:0;">
 <caption>World population milestones in billions<sup class="reference" id="cite_ref-:6_58-0"><a href="#cite_note-:6-58"><span class="cite-bracket">[</span>58<span class="cite-bracket">]</span></a></sup> (Worldometers estimates)
 </caption>
 <tbody><tr>
 <th scope="row">Population
 </th>
 <th scope="col">1
 </th>
 <th scope="col">2
 </th>
 <th scope="col">3
 </th>
 <th scope="col">4
 </th>
 <th scope="col">5
 </th>
 <th scope="col">6
 </th>
 <th scope="col">7
 </th>
 <th scope="col">8
 </th>
 <th scope="col">9
 </th>
 <th scope="col">10
 </th></tr>
 <tr>
 <th scope="row">Year
 </th>
 <td>1804</td>
 <td>1927</td>
 <td>1960</td>
 <td>1974</td>
 <td>1987</td>
 <td>1999</td>
 <td>2011</td>
 <td>2022</td>
 <td><i>2037</i></td>
 <td><i>2057</i>
 </td></tr>
 <tr>
 <th scope="row">Years elapsed
 </th>
 <td>200,000+</td>
 <td>123</td>
 <td>33</td>
 <td>14</td>
 <td>13</td>
 <td>12</td>
 <td>12</td>
 <td>11</td>
 <td><i>15</i></td>
 <td><i>20</i>
 </td></tr></tbody></table>,
 <table class="wikitable">
 <caption>Current world population and latest projection according to the UN. Population in (millions) and percent of the global population in that year.<sup class="reference" id="cite_ref-88"><a href="#cite_note-88"><span class="cite-bracket">[</span>87<span class="cite-bracket">]</span></a></sup>
 </caption>
 <tbody><tr>
 <th>Region</th>
 <th>2022 (percent)</th>
 <th>2030 (percent)</th>
 <th>2050 (percent)
 </th></tr>
 <tr>
 <td><a href="/wiki/Sub-Saharan_Africa" title="Sub-Saharan Africa">Sub-Saharan Africa</a></td>
 <td><b>1,152</b> (14.51%)</td>
 <td><b>1,401</b> (16.46%)</td>
 <td><b>2,094</b> (21.62%)
 </td></tr>
 <tr>
 <td>Northern Africa and Western Asia</td>
 <td><b>549</b> (6.91%)</td>
 <td><b>617</b> (7.25%)</td>
 <td><b>771</b> (7.96%)
 </td></tr>
 <tr>
 <td>Central Asia and <a href="/wiki/United_Nations_geoscheme_for_Asia#Southern_Asia" title="United Nations geoscheme for Asia">Southern Asia</a></td>
 <td><b>2,075</b> (26.13%)</td>
 <td><b>2,248</b> (26.41%)</td>
 <td><b>2,575</b> (26.58%)
 </td></tr>
 <tr>
 <td>Eastern Asia and Southeastern Asia</td>
 <td><b>2,342</b> (29.49%)</td>
 <td><b>2,372</b> (27.87%)</td>
 <td><b>2,317</b> (23.92%)
 </td></tr>
 <tr>
 <td>Europe and <a href="/wiki/North_America" title="North America">Northern America</a></td>
 <td><b>1,120</b> (14.10%)</td>
 <td><b>1,129</b> (13.26%)</td>
 <td><b>1,125</b> (11.61%)
 </td></tr>
 <tr>
 <td>Latin America and <a class="mw-redirect" href="/wiki/The_Caribbean" title="The Caribbean">the Caribbean</a></td>
 <td><b>658</b> (8.29%)</td>
 <td><b>695</b> (8.17%)</td>
 <td><b>749</b> (7.73%)
 </td></tr>
 <tr>
 <td>Australia and New Zealand</td>
 <td><b>31</b> (0.39%)</td>
 <td><b>34</b> (0.40%)</td>
 <td><b>38</b> (0.39%)
 </td></tr>
 <tr>
 <td>Oceania</td>
 <td><b>14</b> (0.18%)</td>
 <td><b>15</b> (0.18%)</td>
 <td><b>20</b> (0.21%)
 </td></tr>
 <tr>
 <td>World</td>
 <td><b>7,942</b></td>
 <td><b>8,512</b></td>
 <td><b>9,687</b>
 </td></tr></tbody></table>,
 <table class="wikitable sortable">
 <caption>Population by region (2020 estimates)
 </caption>
 <tbody><tr>
 <th scope="col">Region
 </th>
 <th scope="col">Density<br/><small>(inhabitants/km<sup>2</sup>)</small>
 </th>
 <th scope="col">Population<br/><small>(millions)</small>
 </th>
 <th scope="col">Most populous country
 </th>
 <th scope="col">Most populous city (metropolitan area)
 </th></tr>
 <tr>
 <td>Asia
 </td>
 <td style="text-align:right">104.1
 </td>
 <td style="text-align:right">4,641
 </td>
 <td data-sort-value="14118e5">1,439,090,595 – <b><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/India" title="India">India</a></b>
 </td>
 <td data-sort-value="135e5">13,515,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Japan" title="Japan"><img alt="Japan" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/23px-Flag_of_Japan.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/35px-Flag_of_Japan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/45px-Flag_of_Japan.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Tokyo" title="Tokyo">Tokyo Metropolis</a><br/>(37,400,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Japan" title="Japan"><img alt="Japan" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/23px-Flag_of_Japan.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/35px-Flag_of_Japan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/45px-Flag_of_Japan.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Greater_Tokyo_Area" title="Greater Tokyo Area">Greater Tokyo Area</a>)
 </td></tr>
 <tr>
 <td>Africa
 </td>
 <td style="text-align:right">44.4
 </td>
 <td style="text-align:right">1,340
 </td>
 <td data-sort-value="211e6"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0,</span>211,401,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Nigeria.svg/23px-Flag_of_Nigeria.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Nigeria.svg/35px-Flag_of_Nigeria.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Nigeria.svg/46px-Flag_of_Nigeria.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/Nigeria" title="Nigeria">Nigeria</a>
 </td>
 <td data-sort-value="95e5"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0</span>9,500,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Egypt" title="Egypt"><img alt="Egypt" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/23px-Flag_of_Egypt.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/35px-Flag_of_Egypt.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/45px-Flag_of_Egypt.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Cairo" title="Cairo">Cairo</a><br/>(20,076,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Egypt" title="Egypt"><img alt="Egypt" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/23px-Flag_of_Egypt.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/35px-Flag_of_Egypt.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/45px-Flag_of_Egypt.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Greater_Cairo" title="Greater Cairo">Greater Cairo</a>)
 </td></tr>
 <tr>
 <td>Europe
 </td>
 <td style="text-align:right">73.4
 </td>
 <td style="text-align:right">747
 </td>
 <td data-sort-value="146e6"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0,</span>146,171,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/23px-Flag_of_Russia.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/35px-Flag_of_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/45px-Flag_of_Russia.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/Russia" title="Russia">Russia</a>, approx. <a href="/wiki/European_Russia" title="European Russia">110 million in Europe</a>
 </td>
 <td data-sort-value="132e5">13,200,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Russia" title="Russia"><img alt="Russia" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/23px-Flag_of_Russia.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/35px-Flag_of_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/45px-Flag_of_Russia.svg.png 2x" width="23"/></a></span></span> Moscow<br/>(20,004,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Russia" title="Russia"><img alt="Russia" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/23px-Flag_of_Russia.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/35px-Flag_of_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/45px-Flag_of_Russia.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Moscow_metropolitan_area" title="Moscow metropolitan area">Moscow metropolitan area</a>)
 </td></tr>
 <tr>
 <td>Latin America
 </td>
 <td style="text-align:right">24.1
 </td>
 <td style="text-align:right">653
 </td>
 <td data-sort-value="214e6"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0,</span>214,103,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="700" data-file-width="1000" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/43px-Flag_of_Brazil.svg.png 2x" width="22"/></span></span> </span><a href="/wiki/Brazil" title="Brazil">Brazil</a>
 </td>
 <td data-sort-value="122e5">12,252,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Brazil" title="Brazil"><img alt="Brazil" class="mw-file-element" data-file-height="700" data-file-width="1000" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/43px-Flag_of_Brazil.svg.png 2x" width="22"/></a></span></span> <a href="/wiki/S%C3%A3o_Paulo" title="São Paulo">São Paulo City</a><br/>(21,650,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Brazil" title="Brazil"><img alt="Brazil" class="mw-file-element" data-file-height="700" data-file-width="1000" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/43px-Flag_of_Brazil.svg.png 2x" width="22"/></a></span></span> <a href="/wiki/Greater_S%C3%A3o_Paulo" title="Greater São Paulo">São Paulo Metro Area</a>)
 </td></tr>
 <tr>
 <td>Northern America<sup class="reference" id="cite_ref-89"><a href="#cite_note-89"><span class="cite-bracket">[</span>note 1<span class="cite-bracket">]</span></a></sup>
 </td>
 <td style="text-align:right">14.9
 </td>
 <td style="text-align:right">368
 </td>
 <td data-sort-value="332e6"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0,</span>332,909,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/United_States" title="United States">United States</a>
 </td>
 <td data-sort-value="88e5"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0</span>8,804,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/United_States" title="United States"><img alt="United States" class="mw-file-element" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span></span> New York City<br/>(23,582,649 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/United_States" title="United States"><img alt="United States" class="mw-file-element" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/New_York_metropolitan_area" title="New York metropolitan area">New York metropolitan area</a><sup class="reference" id="cite_ref-CityPopulation.de_90-0"><a href="#cite_note-CityPopulation.de-90"><span class="cite-bracket">[</span>88<span class="cite-bracket">]</span></a></sup>)
 </td></tr>
 <tr>
 <td>Oceania
 </td>
 <td style="text-align:right">5
 </td>
 <td style="text-align:right">42
 </td>
 <td data-sort-value="25e6"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0,0</span>25,917,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="256" data-file-width="512" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/23px-Flag_of_Australia_%28converted%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/35px-Flag_of_Australia_%28converted%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/46px-Flag_of_Australia_%28converted%29.svg.png 2x" width="23"/></span></span> </span><a href="/wiki/Australia" title="Australia">Australia</a>
 </td>
 <td data-sort-value="54e5"><span aria-hidden="true" style="visibility:hidden;color:transparent;">0</span>5,367,000 – <span class="flagicon"><span class="mw-image-border" typeof="mw:File"><a href="/wiki/Australia" title="Australia"><img alt="Australia" class="mw-file-element" data-file-height="256" data-file-width="512" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/23px-Flag_of_Australia_%28converted%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/35px-Flag_of_Australia_%28converted%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/46px-Flag_of_Australia_%28converted%29.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/Sydney" title="Sydney">Sydney</a>
 </td></tr>
 <tr>
 <td><a href="/wiki/Antarctica" title="Antarctica">Antarctica</a>
 </td>
 <td style="text-align:right">~0
 </td>
 <td style="text-align:right">0.004<sup class="reference" id="cite_ref-AntarcticCIA_87-1"><a href="#cite_note-AntarcticCIA-87"><span class="cite-bracket">[</span>86<span class="cite-bracket">]</span></a></sup>
 </td>
 <td data-sort-value="0">N/A<sup class="reference" id="cite_ref-91"><a href="#cite_note-91"><span class="cite-bracket">[</span>note 2<span class="cite-bracket">]</span></a></sup>
 </td>
 <td data-sort-value="1258"><span aria-hidden="true" style="visibility:hidden;color:transparent;">00,00</span>1,258 – <span class="flagicon"><span typeof="mw:File"><a href="/wiki/Antarctica" title="Antarctica"><img alt="Antarctica" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg/23px-Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg/35px-Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg/45px-Proposed_flag_of_Antarctica_%28Graham_Bartram%29.svg.png 2x" width="23"/></a></span></span> <a href="/wiki/McMurdo_Station" title="McMurdo Station">McMurdo Station</a>
 </td></tr></tbody></table>,
 <table class="sortable wikitable sticky-header static-row-numbers sort-under col1left col5left" style="text-align:right">
 <tbody><tr>
 <th>Country / <a href="/wiki/Dependent_territory" title="Dependent territory">Dependency</a>
 </th>
 <th>Population
 </th>
 <th>% of<br/>world
 </th>
 <th>Date
 </th>
 <th><span class="nowrap">Source (official or from</span><br/>the United Nations)
 </th></tr>
 <tr>
 <td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/></span></span></span> <a href="/wiki/Demographics_of_India" title="Demographics of India">India</a>
 </td>
 <td style="text-align:right">1,425,775,850</td>
 <td style="text-align:right;font-size:inherit"><span data-sort-value="7,001,174,752,017,808,000♠" style="display:none"></span>17.5%
 </td>
 <td><span data-sort-value="000000002023-04-14-0000" style="white-space:nowrap">14 Apr 2023</span>
 </td>
 <td>UN projection<sup class="reference" id="cite_ref-20230414france24_92-0"><a href="#cite_note-20230414france24-92"><span class="cite-bracket">[</span>89<span class="cite-bracket">]</span></a></sup>
 </td></tr>
 <tr>

In [24]:
import pandas as pd

df = pd.read_html(str(table_tags[0]))[0]

df

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [25]:
tables = []
for i in table_tags:
    df = pd.read_html(str(i))[0]
    tables.append(df)

In [26]:
tables

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[86]

                                Most populous country  \
 0                              1,439,090,595 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.5%  14 Apr 2023
 1                China  1409670000      17.3%  17 Jan 2024
 2        United States   337503994      4.14%  10 Feb 2025
 3            Indonesia   278696200      3.42%   1 Jul 2023
 4             Pakistan   229488994      2.81%   1 Jul 2022
 5              Nigeria   216746934      2.66%   1 Jul 2022
 6               Brazil   218781119      2.68%  10 Feb 2025
 7           Bangladesh   168220000      2.06%   1 Jul 2020
 8               Russia   147190000      1.80%   1 Oct 2021
 9               Mexico   128271248      1.57%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[89]
 1                 National annual estimate[90]
 2                National population clock[91]
 3                 National annual estimate[92]
 4                            UN projection[93]
 5                            UN projection[93]
 6                National population clock[94]
 7               Annual Population Estimate[95]
 8          2021 preliminary census results[96]
 9                                          NaN  ,
                                                                                                                                                                                               #  \
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
                                                                                                                                                                              Unnamed: 5_level_1
                                                                                                                                                                              Unnamed: 5_level_2
                                                                                                                                                                              Unnamed: 5_level_3
                                                                                                                                                                              Unnamed: 5_level_4
                                                                                                                                                                              Unnamed: 5_level_5
                                                                                                                                                                              Unnamed: 5_level_6
                                                                                                                                                                              Unnamed: 5_level_7
                                                                                                                                                                              Unnamed: 5_level_8
                                                                                                                                                                              Unnamed: 5_level_9
                                                                                                                                                                             Unnamed: 5_level_10
                                                                                                                                                                             Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                                                                                                            ,
    Rank                Country  Population  Area (km2)  Density (pop/km2)
 0     1              Singapore     5921231         719               8235
 1     2             Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][99]     5223000        6025                867
 3     4         Taiwan[note 4]    23580712       35980                655
 4     5            South Korea    51844834       99720                520
 5     6                Lebanon     5296814       10400                509
 6     7                 Rwanda    13173730       26338                500
 7     8                Burundi    12696478       27830                456
 8     9                 Israel     9402617       21937                429
 9    10                  India  1389637446     3287263                423,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[100]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7

In [27]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [28]:
tables[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia and New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [29]:
tables[2]

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

In [30]:
tables[3]

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,India,1425775850,17.5%,14 Apr 2023,UN projection[89]
1,China,1409670000,17.3%,17 Jan 2024,National annual estimate[90]
2,United States,337503994,4.14%,10 Feb 2025,National population clock[91]
3,Indonesia,278696200,3.42%,1 Jul 2023,National annual estimate[92]
4,Pakistan,229488994,2.81%,1 Jul 2022,UN projection[93]
5,Nigeria,216746934,2.66%,1 Jul 2022,UN projection[93]
6,Brazil,218781119,2.68%,10 Feb 2025,National population clock[94]
7,Bangladesh,168220000,2.06%,1 Jul 2020,Annual Population Estimate[95]
8,Russia,147190000,1.80%,1 Oct 2021,2021 preliminary census results[96]
9,Mexico,128271248,1.57%,31 Mar 2022,NaN

In [31]:
tables[4]

,#,Most populous countries,2000,2015,2030[A],"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org."
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...

### Create Class WikipediaScraper to scrape any wikipedia url

In [32]:
%pip install pydantic

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pydantic in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.10.6)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pydantic) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pydantic) (2.27.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\saurav mali\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pydantic) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [33]:
from pydantic import BaseModel, HttpUrl, Field

In [34]:
class WikiScraper(BaseModel):
    url: HttpUrl = Field(description="Wikipedia Page Url")

    def get_html_data(self):
        response = requests.get(self.url)
        response.raise_for_status()
        return response.content
    
    def get_soup(self):
        data = self.get_html_data()
        soup = BeautifulSoup(data)
        return soup
    
    def get_head_title(self):
        soup = self.get_soup()
        return soup.find("title").text
    
    def get_h1(self):
        soup = self.get_soup()
        return soup.find("h1", class_="firstHeading").text
    
    def get_subheadings(self):
        soup = self.get_soup()
        heading_divs = soup.find_all("div", class_="mw-heading")
        subheadings = [tag.text for tag in heading_divs]
        return subheadings
    
    def get_paragraphs(self):
        soup = self.get_soup()
        p_tags = soup.find_all("p")
        p_list = [tag.text for tag in p_tags]
        p_text = "\n".join(p_list)
        return p_text
    
    def get_image_urls(self):
        soup = self.get_soup()
        a_tags = soup.find_all("a", class_="mw-file-description")
        home = "https://en.eikipedia.org"
        img_urls = [home + tag.get("href") for tag in a_tags]
        return img_urls
    
    def get_tables(self):
        soup = self.get_soup()
        table_tags = soup.find_all("table", class_="wikitable")
        tables = []
        for i in table_tags:
            df = pd.read_html(str(i))[0]
            tables.append(df)
        return tables

In [35]:
url1

'https://en.wikipedia.org/wiki/World_population'

In [36]:
s1 = WikiScraper(url = url1)
s1

WikiScraper(url=HttpUrl('https://en.wikipedia.org/wiki/World_population'))

In [37]:
s1.get_head_title()

'World population - Wikipedia'

In [38]:
subheadings = s1.get_subheadings()

In [39]:
subheadings

['History',
 'Ancient and post-classical history',
 'Modern history',
 'Milestones by the billions',
 'Global demographics',
 'Population by region',
 'Largest populations by country',
 'Ten most populous countries',
 'Most densely populated countries',
 'Fluctuation',
 'Annual population growth',
 'Population growth by region',
 'Past population',
 'Projections',
 'Mathematical approximations',
 'Years for world population to double',
 'Number of humans who have ever lived',
 'Human population as a function of food availability',
 'See also',
 'Explanatory notes',
 'References',
 'Citations',
 'General and cited sources',
 'Further reading',
 'External links']

In [40]:
paras = s1.get_paragraphs()
print(paras[0:200])

In world demographics, the world population is the total number of humans currently alive. It was estimated by the United Nations to have exceeded eight billion in mid-November 2022. It took around

In [41]:
img_urls =s1.get_image_urls()
img_urls

['https://en.eikipedia.org/wiki/File:World_Population_Prospects.svg',
 'https://en.eikipedia.org/wiki/File:Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png',
 'https://en.eikipedia.org/wiki/File:2020_1million_cities.jpg',
 'https://en.eikipedia.org/wiki/File:Expectancy_of_life.svg',
 'https://en.eikipedia.org/wiki/File:Population_pyramid_of_the_world_in_continental_groupings_2023.svg',
 'https://en.eikipedia.org/wiki/File:Global_population_cartogram.png',
 'https://en.eikipedia.org/wiki/File:People%27s_-Km%C2%B2_for_all_countries_(and_us_states,_uk_kingdoms).png',
 'https://en.eikipedia.org/wiki/File:Top_5_Country_Population_Graph_1901_to_2021.svg',
 'https://en.eikipedia.org/wiki/File:Population_Density,_v4.11,_2020_(48009093621).jpg',
 'https://en.eikipedia.org/wiki/File:World_population_(UN).svg',
 'https://en.eikipedia.org/wiki/File:Total_Fertility_Rate_Map_by_Country.svg',
 'https://en.eikipedia.org/wiki/File:World_population_counter,_Eureka,_Halifax,_West_Yorkshire_(27th_August_2022)_001.jpg',
 'https://en.eikipedia.org/wiki/File:Population_curve.svg',
 'https://en.eikipedia.org/wiki/File:World_population_growth_(lin-log_scale).png',
 'https://en.eikipedia.org/wiki/File:World_population_history.svg',
 'https://en.eikipedia.org/wiki/File:Question_book-new.svg',
 'https://en.eikipedia.org/wiki/File:Population_by_broad_age_group_projected_to_2100,_OWID.svg',
 'https://en.eikipedia.org/wiki/File:Population-doubling.svg',
 'https://en.eikipedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg',
 'https://en.eikipedia.org/wiki/File:Commons-logo.svg',
 'https://en.eikipedia.org/wiki/File:Emblem-money.svg']

In [43]:
tables = s1.get_tables()
tables

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[86]

                                Most populous country  \
 0                              1,439,090,595 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.5%  14 Apr 2023
 1                China  1409670000      17.3%  17 Jan 2024
 2        United States   337503994      4.14%  10 Feb 2025
 3            Indonesia   278696200      3.42%   1 Jul 2023
 4             Pakistan   229488994      2.81%   1 Jul 2022
 5              Nigeria   216746934      2.66%   1 Jul 2022
 6               Brazil   218781119      2.68%  10 Feb 2025
 7           Bangladesh   168220000      2.06%   1 Jul 2020
 8               Russia   147190000      1.80%   1 Oct 2021
 9               Mexico   128271248      1.57%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[89]
 1                 National annual estimate[90]
 2                National population clock[91]
 3                 National annual estimate[92]
 4                            UN projection[93]
 5                            UN projection[93]
 6                National population clock[94]
 7               Annual Population Estimate[95]
 8          2021 preliminary census results[96]
 9                                          NaN  ,
                                                                                                                                                                                               #  \
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
                                                                                                                                                                              Unnamed: 5_level_1
                                                                                                                                                                              Unnamed: 5_level_2
                                                                                                                                                                              Unnamed: 5_level_3
                                                                                                                                                                              Unnamed: 5_level_4
                                                                                                                                                                              Unnamed: 5_level_5
                                                                                                                                                                              Unnamed: 5_level_6
                                                                                                                                                                              Unnamed: 5_level_7
                                                                                                                                                                              Unnamed: 5_level_8
                                                                                                                                                                              Unnamed: 5_level_9
                                                                                                                                                                             Unnamed: 5_level_10
                                                                                                                                                                             Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                                                                                                            ,
    Rank                Country  Population  Area (km2)  Density (pop/km2)
 0     1              Singapore     5921231         719               8235
 1     2             Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][99]     5223000        6025                867
 3     4         Taiwan[note 4]    23580712       35980                655
 4     5            South Korea    51844834       99720                520
 5     6                Lebanon     5296814       10400                509
 6     7                 Rwanda    13173730       26338                500
 7     8                Burundi    12696478       27830                456
 8     9                 Israel     9402617       21937                429
 9    10                  India  1389637446     3287263                423,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[100]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7

In [44]:
len(tables)

15

In [46]:
tables[-1]

,Population (in billions),0.375,0.375.1,0.75,0.75.1,1.5,1.5.1,3,3.1,6,6.1,12,12.1
0,Year,1171,1171,1715,1715,1881,1881,1960,1960,1999,1999,c. 2100[140],c. 2100[140]
1,Years elapsed,—,544,544,166,166,79,79,39,39,39,c. 100+,c. 100+

In [47]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [48]:
tables[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia and New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [50]:
for i in tables:
    display(i)

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia and New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,India,1425775850,17.5%,14 Apr 2023,UN projection[89]
1,China,1409670000,17.3%,17 Jan 2024,National annual estimate[90]
2,United States,337503994,4.14%,10 Feb 2025,National population clock[91]
3,Indonesia,278696200,3.42%,1 Jul 2023,National annual estimate[92]
4,Pakistan,229488994,2.81%,1 Jul 2022,UN projection[93]
5,Nigeria,216746934,2.66%,1 Jul 2022,UN projection[93]
6,Brazil,218781119,2.68%,10 Feb 2025,National population clock[94]
7,Bangladesh,168220000,2.06%,1 Jul 2020,Annual Population Estimate[95]
8,Russia,147190000,1.80%,1 Oct 2021,2021 preliminary census results[96]
9,Mexico,128271248,1.57%,31 Mar 2022,NaN

,#,Most populous countries,2000,2015,2030[A],"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org."
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,"Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.",Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...

   Rank                Country  Population  Area (km2)  Density (pop/km2)
0     1              Singapore     5921231         719               8235
1     2             Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][99]     5223000        6025                867
3     4         Taiwan[note 4]    23580712       35980                655
4     5            South Korea    51844834       99720                520
5     6                Lebanon     5296814       10400                509
6     7                 Rwanda    13173730       26338                500
7     8                Burundi    12696478       27830                456
8     9                 Israel     9402617       21937                429
9    10                  India  1389637446     3287263                423

,Rank,Country,Population,Area (km2),Density (pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[100]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

    Year  Population Yearly growth           Density (pop/km2)
    Year  Population             %    Number Density (pop/km2)
0   1951  2543130380         1.75%  43808223                17
1   1952  2590270899         1.85%  47140519                17
2   1953  2640278797         1.93%  50007898                18
3   1954  2691979339         1.96%  51700542                18
4   1955  2746072141         2.01%  54092802                18
..   ...         ...           ...       ...               ...
68  2019  7764951032         1.06%  81161204                52
69  2020  7840952880         0.98%  76001848                53
70  2021  7909295151         0.87%  68342271                53
71  2022  7975105156         0.83%  65810005                54
72  2023  8045311447         0.88%  70206291                54

[73 rows x 5 columns]

,Region,1500,1600,1700,1750,1800,1850,1900,1950,1999,2008,2010,2012,2050,2150
0,World,585,660,710,791,978,1262,1650,2521,6008,6707,6896,7052,9725,9746
1,Africa,86,114,106,106,107,111,133,221,783,973,1022,1052,2478,2308
2,Asia,282,350,411,502,635,809,947,1402,3700,4054,4164,4250,5267,5561
3,Europe,168,170,178,190,203,276,408,547,675,732,738,740,734,517
4,Latin America[Note 1],40,20,10,16,24,38,74,167,508,577,590,603,784,912
5,Northern America[Note 1],6,3,2,2,7,26,82,172,312,337,345,351,433,398
6,Oceania,3,3,3,2,2,2,6,13,30,34,37,38,57,51

,Region,1500,1600,1700,1750,1800,1850,1900,1950,1999,2008,2010,2012,2050,2150
0,Africa,14.7,17.3,14.9,13.4,10.9,8.8,8.1,8.8,13.0,14.5,14.8,15.2,25.5,23.7
1,Asia,48.2,53.0,57.9,63.5,64.9,64.1,57.4,55.6,61.6,60.4,60.4,60.3,54.2,57.1
2,Europe,28.7,25.8,25.1,20.6,20.8,21.9,24.7,21.7,11.2,10.9,10.7,10.5,7.6,5.3
3,Latin America[Note 1],6.8,3.0,1.4,2.0,2.5,3.0,4.5,6.6,8.5,8.6,8.6,8.6,8.1,9.4
4,Northern America[Note 1],1.0,0.5,0.3,0.3,0.7,2.1,5.0,6.8,5.2,5.0,5.0,5.0,4.5,4.1
5,Oceania,0.5,0.5,0.4,0.3,0.2,0.2,0.4,0.5,0.5,0.5,0.5,0.5,0.6,0.5

,Year,World,Africa,Asia,Europe,Latin America & Carib.[Note 1],North America [Note 1],Oceania,Notes
0,"70,000 BC",< 0.015,NaN,NaN,NaN,NaN,NaN,NaN,[116]
1,"10,000 BC",4,NaN,NaN,NaN,NaN,NaN,NaN,[117]
2,8000 BC,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6500 BC,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5000 BC,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4000 BC,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3000 BC,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000 BC,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000 BC,50,7.0,33.0,9.0,NaN,NaN,NaN,[citation needed]
9,500 BC,100,14.0,66.0,16.0,NaN,NaN,NaN,NaN
10,AD 1,200,23.0,141.0,28.0,NaN,NaN,NaN,NaN
11,1000,400,70.0,269.0,50.0,8.0,1.0,2.0,NaN
12,1500,458,86.0,243.0,84.0,39.0,3.0,3.0,NaN
13,1600,580,114.0,339.0,111.0,10.0,3.0,3.0,NaN
14,1700,682,106.0,436.0,125.0,10.0,2.0,3.0,NaN
15,1750,791,106.0,502.0,163.0,16.0,2.0,2.0,NaN
16,1800,1000,107.0,656.0,203.0,24.0,7.0,3.0,NaN
17,1850,1262,111.0,809.0,276.0,38.0,26.0,2.0,NaN
18,1900,1650,133.0,947.0,408.0,74.0,82.0,6.0,NaN
19,1950,2525,229.0,1394.0,549.0,169.0,172.0,12.7,[118]
20,1955,2758,254.0,1534.0,577.0,193.0,187.0,14.2,NaN
21,1960,3018,285.0,1687.0,606.0,221.0,204.0,15.8,NaN
22,1965,3322,322.0,1875.0,635.0,254.0,219.0,17.5,NaN
23,1970,3682,366.0,2120.0,657.0,288.0,231.0,19.7,NaN
24,1975,4061,416.0,2378.0,677.0,326.0,242.0,21.5,NaN
25,1980,4440,478.0,2626.0,694.0,365.0,254.0,23.0,NaN
26,1985,4853,550.0,2897.0,708.0,406.0,267.0,24.9,NaN
27,1990,5310,632.0,3202.0,721.0,447.0,281.0,27.0,NaN
28,1995,5735,720.0,3475.0,728.0,487.0,296.0,29.1,NaN
29,2000,6127,814.0,3714.0,726.0,527.0,314.0,31.1,NaN
30,2005,6520,920.0,3945.0,729.0,564.0,329.0,33.4,NaN
31,2010,6930,1044.0,4170.0,735.0,600.0,344.0,36.4,NaN
32,2015,7349,1186.0,4393.0,738.0,634.0,358.0,39.3,NaN

   Year  UN est. (millions) Difference  USCB est. (millions) Difference.1
0  2005                6542          –                  6473            –
1  2010                6957        415                  6866          393
2  2015                7380        423                  7256          390
3  2020                7795        415                  7643          380
4  2025                8184        390                  8007          363
5  2030                8549        364                  8341          334
6  2035                8888        339                  8646          306
7  2040                9199        311                  8926          280
8  2045                9482        283                  9180          254
9  2050                9735        253                  9408          228

,Year,World,Asia,Africa,Europe,Latin America/Caribbean,Northern America,Oceania
0,2000,6144,"3,741 (60.9%)",811 (13.2%),726 (11.8%),522 (8.5%),312 (5.1%),31 (0.5%)
1,2024,8160,"4,810 (58.9%)","1,520 (18.6%)",745 (9.1%),663 (8.1%),385 (4.7%),46 (0.6%)
2,2050,9660,"5,280 (54.7%)","2,470 (25.6%)",703 (7.3%),730 (7.6%),426 (4.4%),57 (0.6%)
3,2075,10250,"5,100 (49.8%)","3,290 (32.1%)",636 (6.2%),698 (6.8%),452 (4.4%),66 (0.6%)
4,2100,10180,"4,610 (45.3%)","3,810 (37.4%)",592 (5.8%),613 (6.0%),475 (4.7%),73 (0.7%)

,Population (in billions),0.5,0.5.1,1,1.1,2,2.1,4,4.1,8,8.1,16,16.1
0,Year,1500,1500,1804,1804,1927,1927,1974,1974,2022,2022,NaN,NaN
1,Years elapsed,—,304,304,123,123,47,47,48,48,48,—,NaN

,Population (in billions),0.375,0.375.1,0.75,0.75.1,1.5,1.5.1,3,3.1,6,6.1,12,12.1
0,Year,1171,1171,1715,1715,1881,1881,1960,1960,1999,1999,c. 2100[140],c. 2100[140]
1,Years elapsed,—,544,544,166,166,79,79,39,39,39,c. 100+,c. 100+

In [51]:
url2 = "https://en.wikipedia.org/wiki/Data_analysis"
print(url2)

https://en.wikipedia.org/wiki/Data_analysis

In [52]:
s2 = WikiScraper(url = url2)
s2

WikiScraper(url=HttpUrl('https://en.wikipedia.org/wiki/Data_analysis'))

In [53]:
s2.get_head_title()

'Data analysis - Wikipedia'

In [54]:
s2.get_subheadings()

['Data analysis process[edit]',
 'Data requirements[edit]',
 'Data collection[edit]',
 'Data processing[edit]',
 'Data cleaning[edit]',
 'Exploratory data analysis[edit]',
 'Modeling and algorithms[edit]',
 'Data product[edit]',
 'Communication[edit]',
 'Quantitative messages[edit]',
 'Analyzing quantitative data[edit]',
 'Analytical activities of data users[edit]',
 'Barriers to effective analysis[edit]',
 'Confusing fact and opinion[edit]',
 'Cognitive biases[edit]',
 'Innumeracy[edit]',
 'Other topics[edit]',
 'Smart buildings[edit]',
 'Analytics and business intelligence[edit]',
 'Education[edit]',
 'Practitioner notes[edit]',
 'Initial data analysis[edit]',
 'Quality of data[edit]',
 'Quality of measurements[edit]',
 'Initial transformations[edit]',
 'Did the implementation of the study fulfill the intentions of the research design?[edit]',
 'Characteristics of data sample[edit]',
 'Final stage of the initial data analysis[edit]',
 'Analysis[edit]',
 'Nonlinear analysis[edit]',
 'Main data analysis[edit]',
 'Exploratory and confirmatory approaches[edit]',
 'Stability of results[edit]',
 'Free software for data analysis[edit]',
 'Reproducible analysis[edit]',
 'International data analysis contests[edit]',
 'See also[edit]',
 'References[edit]',
 'Citations[edit]',
 'Bibliography[edit]',
 'Further reading[edit]']

In [55]:
s2.get_image_urls()

['https://en.eikipedia.org/wiki/File:Rayleigh-Taylor_instability.jpg',
 'https://en.eikipedia.org/wiki/File:Data_visualization_process_v1.png',
 'https://en.eikipedia.org/wiki/File:Relationship_of_data,_information_and_intelligence.png',
 'https://en.eikipedia.org/wiki/File:Social_Network_Analysis_Visualization.png',
 'https://en.eikipedia.org/wiki/File:Total_Revenues_and_Outlays_as_Percent_GDP_2013.png',
 'https://en.eikipedia.org/wiki/File:U.S._Phillips_Curve_2000_to_2013.png',
 'https://en.eikipedia.org/wiki/File:US_Employment_Statistics_-_March_2015.png',
 'https://en.eikipedia.org/wiki/File:User-activities.png',
 'https://en.eikipedia.org/wiki/File:Wikiversity_logo_2017.svg']

In [58]:
tables2 = s2.get_tables()[0]
tables2

,#,Task,General Description,Pro Forma Abstract,Examples
0,1,Retrieve Value,"Given a set of specific cases, find attributes...","What are the values of attributes {X, Y, Z, .....",- What is the mileage per gallon of the Ford M...
1,2,Filter,Given some concrete conditions on attribute va...,"Which data cases satisfy conditions {A, B, C...}?",- What Kellogg's cereals have high fiber? - Wh...
2,3,Compute Derived Value,"Given a set of data cases, compute an aggregat...",What is the value of aggregation function F ov...,- What is the average calorie content of Post ...
3,4,Find Extremum,Find data cases possessing an extreme value of...,What are the top/bottom N data cases with resp...,- What is the car with the highest MPG? - What...
4,5,Sort,"Given a set of data cases, rank them according...",What is the sorted order of a set S of data ca...,- Order the cars by weight. - Rank the cereals...
5,6,Determine Range,Given a set of data cases and an attribute of ...,What is the range of values of attribute A in ...,- What is the range of film lengths? - What is...
6,7,Characterize Distribution,Given a set of data cases and a quantitative a...,What is the distribution of values of attribut...,- What is the distribution of carbohydrates in...
7,8,Find Anomalies,Identify any anomalies within a given set of d...,Which data cases in a set S of data cases have...,- Are there exceptions to the relationship bet...
8,9,Cluster,"Given a set of data cases, find clusters of si...",Which data cases in a set S of data cases are ...,- Are there groups of cereals w/ similar fat/c...
9,10,Correlate,"Given a set of data cases and two attributes, ...",What is the correlation between attributes X a...,- Is there a correlation between carbohydrates...
10,11,Contextualization[81],"Given a set of data cases, find contextual rel...",Which data cases in a set S of data cases are ...,- Are there groups of restaurants that have fo...

In [59]:
url3 = "https://en.wikipedia.org/wiki/Data_science"
print(url3)

https://en.wikipedia.org/wiki/Data_science

In [60]:
url1

'https://en.wikipedia.org/wiki/World_population'

In [61]:
url2

'https://en.wikipedia.org/wiki/Data_analysis'

In [62]:
url3

'https://en.wikipedia.org/wiki/Data_science'

In [63]:
urls = [url1, url2, url3]
urls

['https://en.wikipedia.org/wiki/World_population',
 'https://en.wikipedia.org/wiki/Data_analysis',
 'https://en.wikipedia.org/wiki/Data_science']

In [66]:
img_dict = {}

In [70]:
for i in urls:
    s = WikiScraper(url = i)
    print(s)
    title = s.get_head_title()
    print(title)
    img_urls = s.get_image_urls()
    print(img_urls)
    img_dict[title] = img_urls
    print("\n===========================================================\n")

url=HttpUrl('https://en.wikipedia.org/wiki/World_population')
World population - Wikipedia
['https://en.eikipedia.org/wiki/File:World_Population_Prospects.svg', 'https://en.eikipedia.org/wiki/File:Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png', 'https://en.eikipedia.org/wiki/File:2020_1million_cities.jpg', 'https://en.eikipedia.org/wiki/File:Expectancy_of_life.svg', 'https://en.eikipedia.org/wiki/File:Population_pyramid_of_the_world_in_continental_groupings_2023.svg', 'https://en.eikipedia.org/wiki/File:Global_population_cartogram.png', 'https://en.eikipedia.org/wiki/File:People%27s_-Km%C2%B2_for_all_countries_(and_us_states,_uk_kingdoms).png', 'https://en.eikipedia.org/wiki/File:Top_5_Country_Population_Graph_1901_to_2021.svg', 'https://en.eikipedia.org/wiki/File:Population_Density,_v4.11,_2020_(48009093621).jpg', 'https://en.eikipedia.org/wiki/File:World_population_(UN).svg', 'https://en.eikipedia.org/wiki/File:Total_Fertility_Rate_Map_by_Country.svg', 'https://en.eikipedia.org/wiki/File:World_population_counter,_Eureka,_Halifax,_West_Yorkshire_(27th_August_2022)_001.jpg', 'https://en.eikipedia.org/wiki/File:Population_curve.svg', 'https://en.eikipedia.org/wiki/File:World_population_growth_(lin-log_scale).png', 'https://en.eikipedia.org/wiki/File:World_population_history.svg', 'https://en.eikipedia.org/wiki/File:Question_book-new.svg', 'https://en.eikipedia.org/wiki/File:Population_by_broad_age_group_projected_to_2100,_OWID.svg', 'https://en.eikipedia.org/wiki/File:Population-doubling.svg', 'https://en.eikipedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg', 'https://en.eikipedia.org/wiki/File:Commons-logo.svg', 'https://en.eikipedia.org/wiki/File:Emblem-money.svg']

===========================================================

url=HttpUrl('https://en.wikipedia.org/wiki/Data_analysis')
Data analysis - Wikipedia
['https://en.eikipedia.org/wiki/File:Rayleigh-Taylor_instability.jpg', 'https://en.eikipedia.org/wiki/File:Data_visualization_process_v1.png', 'https://en.eikipedia.org/wiki/File:Relationship_of_data,_information_and_intelligence.png', 'https://en.eikipedia.org/wiki/File:Social_Network_Analysis_Visualization.png', 'https://en.eikipedia.org/wiki/File:Total_Revenues_and_Outlays_as_Percent_GDP_2013.png', 'https://en.eikipedia.org/wiki/File:U.S._Phillips_Curve_2000_to_2013.png', 'https://en.eikipedia.org/wiki/File:US_Employment_Statistics_-_March_2015.png', 'https://en.eikipedia.org/wiki/File:User-activities.png', 'https://en.eikipedia.org/wiki/File:Wikiversity_logo_2017.svg']

===========================================================

url=HttpUrl('https://en.wikipedia.org/wiki/Data_science')
Data science - Wikipedia
['https://en.eikipedia.org/wiki/File:PIA23792-1600x1200(1).jpg', 'https://en.eikipedia.org/wiki/File:EDA_example_-_Always_plot_your_data.jpg', 'https://en.eikipedia.org/wiki/File:Data_Science.png', 'https://en.eikipedia.org/wiki/File:Cloud_computing_in_enabling_data_science_at_scale.jpg']

===========================================================

In [71]:
img_dict

{'World population - Wikipedia': ['https://en.eikipedia.org/wiki/File:World_Population_Prospects.svg',
  'https://en.eikipedia.org/wiki/File:Illustration_of_contemporary_and_past_human_populations_Our_World_in_Data.png',
  'https://en.eikipedia.org/wiki/File:2020_1million_cities.jpg',
  'https://en.eikipedia.org/wiki/File:Expectancy_of_life.svg',
  'https://en.eikipedia.org/wiki/File:Population_pyramid_of_the_world_in_continental_groupings_2023.svg',
  'https://en.eikipedia.org/wiki/File:Global_population_cartogram.png',
  'https://en.eikipedia.org/wiki/File:People%27s_-Km%C2%B2_for_all_countries_(and_us_states,_uk_kingdoms).png',
  'https://en.eikipedia.org/wiki/File:Top_5_Country_Population_Graph_1901_to_2021.svg',
  'https://en.eikipedia.org/wiki/File:Population_Density,_v4.11,_2020_(48009093621).jpg',
  'https://en.eikipedia.org/wiki/File:World_population_(UN).svg',
  'https://en.eikipedia.org/wiki/File:Total_Fertility_Rate_Map_by_Country.svg',
  'https://en.eikipedia.org/wiki/File:World_population_counter,_Eureka,_Halifax,_West_Yorkshire_(27th_August_2022)_001.jpg',
  'https://en.eikipedia.org/wiki/File:Population_curve.svg',
  'https://en.eikipedia.org/wiki/File:World_population_growth_(lin-log_scale).png',
  'https://en.eikipedia.org/wiki/File:World_population_history.svg',
  'https://en.eikipedia.org/wiki/File:Question_book-new.svg',
  'https://en.eikipedia.org/wiki/File:Population_by_broad_age_group_projected_to_2100,_OWID.svg',
  'https://en.eikipedia.org/wiki/File:Population-doubling.svg',
  'https://en.eikipedia.org/wiki/File:The_Earth_seen_from_Apollo_17.jpg',
  'https://en.eikipedia.org/wiki/File:Commons-logo.svg',
  'https://en.eikipedia.org/wiki/File:Emblem-money.svg'],
 'Data analysis - Wikipedia': ['https://en.eikipedia.org/wiki/File:Rayleigh-Taylor_instability.jpg',
  'https://en.eikipedia.org/wiki/File:Data_visualization_process_v1.png',
  'https://en.eikipedia.org/wiki/File:Relationship_of_data,_information_and_intelligence.png',
  'https://en.eikipedia.org/wiki/File:Social_Network_Analysis_Visualization.png',
  'https://en.eikipedia.org/wiki/File:Total_Revenues_and_Outlays_as_Percent_GDP_2013.png',
  'https://en.eikipedia.org/wiki/File:U.S._Phillips_Curve_2000_to_2013.png',
  'https://en.eikipedia.org/wiki/File:US_Employment_Statistics_-_March_2015.png',
  'https://en.eikipedia.org/wiki/File:User-activities.png',
  'https://en.eikipedia.org/wiki/File:Wikiversity_logo_2017.svg'],
 'Data science - Wikipedia': ['https://en.eikipedia.org/wiki/File:PIA23792-1600x1200(1).jpg',
  'https://en.eikipedia.org/wiki/File:EDA_example_-_Always_plot_your_data.jpg',
  'https://en.eikipedia.org/wiki/File:Data_Science.png',
  'https://en.eikipedia.org/wiki/File:Cloud_computing_in_enabling_data_science_at_scale.jpg']}