# Exception Handling 
Exception - Error orrcured when invalid operations are performed

In [1]:
4/0

ZeroDivisionError: division by zero

In [3]:
"a"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [8]:
def division():
    num = float(input("Please enter numerator : "))
    den = float(input("Please enter denominator : "))
    div = num / den
    print(f"Division of Numerator {num} and Denominator {den} is {div:.4f}")
    return div

In [13]:
# Num - 3 ,Den - 4
d1 = division()
print("Done")

Division of Numerator 3.0 and Denominator 4.0 is 0.7500
Done

In [11]:
d1

0.75

In [14]:
# Num-10, Den-0
d2 = division()
print("Done")

ZeroDivisionError: float division by zero

In [15]:
### Num - "a", Den - 12
d3 = division()

ValueError: could not convert string to float: 'a'

In [16]:
floar("a")

NameError: name 'floar' is not defined

In [17]:
float(12.2)

12.2

In [18]:
# Num -15, Den - b
d4 = division()

ValueError: could not convert string to float: 'b'

In [19]:
# Num -Blank
d5 = division()

ValueError: could not convert string to float: ''

### 1. Generic exception handling

In [20]:
def division2():
    try:
        num = float(input("Please enter Numerator : "))
        den = float(input("Please enter denominator : "))
        div = num/den
        print(f"Numerator: {num}, Denominator: {den}, Division: {div:.4f}")
        return div
    except Exception as e:
        print(f"Exception Occured : {e}")

In [21]:
# Num - 12, Den - 5
d1 = division2()
print("Done")

Numerator: 12.0, Denominator: 5.0, Division: 2.4000
Done

In [23]:
# Num-15, Den-0
d2 = division2()
print("Done")

Exception Occured : float division by zero
Done

In [24]:
# Num-13 ,Den-c
d3 = division2()
print("Done")

Exception Occured : could not convert string to float: 'c'
Done

In [26]:
#Num = Blank
d4 = division2()
print("Done")

Exception Occured : could not convert string to float: ''
Done

### Error handling for differnt exceptions

1. Zero division error
2. Value error

In [4]:
def division3():
    try:
        num = float(input("Please enter Numerator : "))
        den = float(input("Please enter denominator : "))
        div = num/den
        print(f"Numerator: {num}, Denominator: {den}, Division: {div:.4f}")
        return div
    except ZeroDivisionError:
        print("Denominator cannot be Zero")
    except ValueError:
        print("Numerator and Denominator should both be numbers , blank input is not allowed")

In [5]:
# Num-10 Den -3
d1 = division3()
print("Done")

Numerator: 23.0, Denominator: 2.0, Division: 11.5000
Done

In [6]:
#num-20, den -0
d2 = division3()
print("Done")

Numerator and Denominator should both be numbers , blank input is not allowed
Done

In [2]:
# num -d
d3 = division3()
print("Done")

NameError: name 'division3' is not defined

In [32]:
# Num - Blank
d4 = division3()
print("done")

Numerator and Denominator should both be numbers , blank input is not allowed
done

### Blocks in exception handling
1. try: The code which you try to execute.
2. except: If any error or exception occured this block will get executed.
3. else: if the try block is executed only then else block will executed 
4. finally: Will always be executed for any block is executed

In [1]:
from math import sqrt

In [2]:
sqrt(9)

3.0

In [3]:
sqrt(-1)

ValueError: math domain error

In [4]:
def square_root():
    n = float(input("Please enter a positive number : "))
    s = sqrt(n)
    print(f"Square root of given number {n} is {s:.4f} ")
    return s

In [5]:
# n = 10
s1 = square_root()
print("Done")

Square root of given number 10.0 is 3.1623
Done

In [6]:
# n = -12
s2 = square_root()
print("Done")

ValueError: math domain error

In [7]:
# n = "e"
s3 = square_root()
print("done")

ValueError: could not convert string to float: 'e'

In [9]:
def square_root2():
    try:
        n = float(input("Please enter a positive number : "))
        s = sqrt(n)
    except Exception as e:
        print(f"Exception Occured : {e}")
    else:
        print(f"Square root of {n} is {s:.4f}")
    finally:
        print("Finally block is always executed")

In [11]:
# n = 25
square_root2()

Square root of 25.0 is 5.0000
Finally block is always executed

In [12]:
# n = -3
square_root2()

Exception Occured : math domain error
Finally block is always executed

In [13]:
# n = "S"
square_root2()

Exception Occured : could not convert string to float: 's'
Finally block is always executed

### Raising custom errors
raise

In [13]:
def age_validation():
    age = int(input("Please enter age in years : "))
    if age <= 0 or age >= 100:
        raise ValueError("Age cannot be less than 0 or Greater than 100")
    else:
        print(f"Valid age entered : {age}")
        return age

In [14]:
# age = 25
a1 = age_validation()

Valid age entered : 56

In [16]:
# age = -3
a2 = age_validation()

ValueError: Age cannot be less than 0 or Greater than 100

In [17]:
# age = 230
a3 = age_validation()

ValueError: Age cannot be less than 0 or Greater than 100

### File Handling
1. w = write, Create a new file and write the content
2. r = read, Read the file and import the data in python
3. a = append, Add something in an existing file

In [8]:
# Save the content in new file using write mode
with open("Example.txt", "w") as f1:
    f1.write("This is line 1\n")
    f1.write("This is line 2\n")

In [9]:
# Read mode to read the content from file
with open("Example.txt", "r") as f2:
    content = f2.read()

In [10]:
print(content)

This is line 1
This is line 2

In [12]:
# Append mode to add new content in file
with open("Example.txt", "a") as f3:
    f3.write("This is line 3.\n")
    f3.write("Thank you..!\n")