## How to check whether the triangle forms or not!
Sum of any two sides should be greater than third

In [59]:
from dataclasses import dataclass

In [60]:
@dataclass
class Triangle:
    a: int | float
    b: int | float
    c: int | float

    def is_triangle(self) -> bool:
        if (
            (self.a + self.b > self.c)
            and (self.b + self.c > self.a)
            and (self.a + self.c > self.b)
        ):
            return True
        else:
            return False
        
    def __post_init__(self):
        errors = []

        if not isinstance(self.a, (int, float)) or self.a <= 0:
            errors.append("Side a should be a positive int or float")
        if not isinstance(self.b, (int, float)) or self.b <=0:
            errors.append("Side b should be a positive int or float")
        if not isinstance(self.c, (int, float)) or self.c <=0:
            errors.append("Side c should be a positive int or float")
        if not self.is_triangle():
            errors.append("Given sides do not form a triangle")

        if errors:
            raise ValueError("\n".join(errors))
        
    def perimeter(self):
        return self.a + self.b + self.c 
    
    def area(self):
        s = self.perimeter()/2
        a = (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        return a

In [61]:
t1 = Triangle(a=3,b=4,c=5)

In [1]:
#commentss

In [62]:
t1

Triangle(a=3, b=4, c=5)

In [63]:
print(type(t1))

<class '__main__.Triangle'>

In [64]:
t1.a

3

In [65]:
t1.b

4

In [66]:
t1.c

5

In [67]:
p1 = t1.perimeter()
p1

12

In [68]:
a1 = t1.area()
a1

6.0

In [69]:
t2 = Triangle(a=11.5, b=12.3, c=13.1)
type(t2)

__main__.Triangle

In [70]:
t2

Triangle(a=11.5, b=12.3, c=13.1)

In [71]:
t2.a

11.5

In [72]:
t2.b

12.3

In [73]:
t2.c

13.1

In [74]:
p2 = t2.perimeter()
p2

36.9

In [75]:
a2 = t2.area()
a2

64.95387069875049

In [76]:
t3 = Triangle(-1, 2, 3)

ValueError: Side a should be a positive int or float
Given sides do not form a triangle

In [77]:

t3 = Triangle(a=1, b=2, c=5)

ValueError: Given sides do not form a triangle

### Bank Account Example

In [78]:
from dataclasses import dataclass

In [79]:
@dataclass
class Account:
    ac_no: int
    name: str
    balance: float

    def show_current_balance(self):
        print(f"A/C no- {self.ac_no}, Name: {self.name}, Current Balance: {self.balance} INR")

    def deposite(self, amt:float):
        if amt <= 0:
            raise ValueError("Amount to be deposited cannit be negative")
        self.balance = self.balance + amt
    
    def withdraw(self, amt:float):
        if amt <= 0:
            raise ValueError("Amount withdrawdn cannot be negative or zero")
        if amt >= self.balance:
            raise ValueError("Insufficent Balance")
        
        self.balance = self.balance - amt
    def transfer(self, amt:float, ac):
        self.withdraw(amt)
        ac.deposite(amt)

In [80]:
a1 = Account(ac_no = 1234, name = "Sarthak", balance = 5000.0)

In [81]:
a1

Account(ac_no=1234, name='Sarthak', balance=5000.0)

In [82]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5000.0 INR

In [83]:
a1.deposite(300)

In [84]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5300.0 INR

In [85]:
a1.withdraw(500.0)

In [86]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 4800.0 INR

In [87]:
a1.withdraw(5000.0)

ValueError: Insufficent Balance

### a2 wants to transfer to a1

In [88]:
a1.balance

4800.0

In [89]:
a2 = Account(ac_no=4567, name="Aditi", balance=1000.0)
a2

Account(ac_no=4567, name='Aditi', balance=1000.0)

In [90]:
a2.show_current_balance()

A/C no- 4567, Name: Aditi, Current Balance: 1000.0 INR

In [91]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 4800.0 INR

In [92]:
a1.transfer(700.0, a2)

In [93]:
a1.balance

4100.0

In [94]:
a2.balance

1700.0

In [95]:
a1.transfer(4500.0,a2)

ValueError: Insufficent Balance

In [96]:
a2.transfer(1200.0,a1)

In [97]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5300.0 INR

In [98]:
a2.show_current_balance()

A/C no- 4567, Name: Aditi, Current Balance: 500.0 INR

In [99]:
a = [1,2,3,4]
b= [5,6,7]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7]

In [100]:
a = [1,2,3,4]
b= [5,6,7]
b.extend(a)
print(a)
print(b)

[1, 2, 3, 4]
[5, 6, 7, 1, 2, 3, 4]

# Polymorphism

### Polymorphism in functions

In [101]:
a = "Utkarsh"
type(a)

str

In [102]:
len(a)

7

In [103]:
b = [3,4,5,6]
type(b)

list

In [104]:
len(b)

4

In [105]:
c = (7,8,9)
type(c)

tuple

In [106]:
len(c)

3

In [107]:
d = {
    "a":1,
    "b":2,
    "c":3,
    "d":4
}
type(d)

dict

In [108]:
len(d)

4

In [109]:
### Polymorphism in operators

In [110]:
3 + 4

7

In [111]:
1.2 + 3.9

5.1

In [112]:
"string1" + "string2"

'string1string2'

In [113]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [114]:
### Polymorphism in Classes

In [115]:
class India:

    def capital(self):
        print(f"New Delhi is capital of India!")
    
    def language(self):
        print(f"Hindi is widely spoken in India")

In [116]:
class USA:
    def capital(self):
        print(f"Washington is capital of USA!")
    
    def language(self):
        print("English is widely spoken in USA")

In [117]:
class France:
    def capital(self):
        print(f"Paris is capital of France!")
    
    def language(self):
        print("French is widely spoken in France!")

In [118]:
c1 = India()
c2 = USA()
c3 = France()

In [119]:
c1.capital()

New Delhi is capital of India!

In [120]:
c1.language()

Hindi is widely spoken in India

In [121]:
c2.capital()

Washington is capital of USA!

In [122]:
c2.language()

English is widely spoken in USA

In [123]:
c3.capital()

Paris is capital of France!

In [124]:
c3.language()

French is widely spoken in France!

In [125]:
for i in (c1,c2,c3):
    print(f"Type : {type(i)}")
    i.capital()
    i.language()
    print("\n=============================")

Type : <class '__main__.India'>
New Delhi is capital of India!
Hindi is widely spoken in India

=============================
Type : <class '__main__.USA'>
Washington is capital of USA!
English is widely spoken in USA

=============================
Type : <class '__main__.France'>
Paris is capital of France!
French is widely spoken in France!

=============================

### Calculating area and perimeter for different shapes

In [126]:
@dataclass
class Rectangle:
    length: int | float
    width: int | float

    def perimeter(self):
        return 2 * (self.length + self.width)
    
    def area(self):
        return self.length * self.width

In [127]:
import math

In [128]:
math.pi

3.141592653589793

In [129]:
@dataclass
class Circle:
    radius: int | float

    def perimeter(self):
        return 2 * math.pi * self.radius
    def area(self):
        return math.pi * (self.radius ** 2)

In [138]:
s1 = Triangle(3,4,5.1)
s2 = Circle(7)
s3 = Rectangle(20,10)
s4 = Circle(10)
s5 = Triangle(12,13,14)

In [139]:
for i in (s1,s2,s3,s4,s5):
    print(i)
    print(f"Perimeter(): {i.perimeter():.2f}")
    print(f"Area : {i.area():.2f}")
    print("\n================================")

Triangle(a=3, b=4, c=5.1)
Perimeter(): 12.10
Area : 5.99

================================
Circle(radius=7)
Perimeter(): 43.98
Area : 153.94

================================
Rectangle(length=20, width=10)
Perimeter(): 60.00
Area : 200.00

================================
Circle(radius=10)
Perimeter(): 62.83
Area : 314.16

================================
Triangle(a=12, b=13, c=14)
Perimeter(): 39.00
Area : 72.31

================================